*{font-family: Georgia, serif;}

.a { 
  max-width: 40%;
  margin: auto;
  margin-top: 8%;
  border: 0.5px ridge #f9c11a;			
  box-shadow: 2px 2px 8px 3px #e6e6e6; 
}


.b {
  margin: 5%;
  border: 0.1px solid #f9c11a;
  border-radius: 12px;
}

legend, h5 { 
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #f9c11a;
  margin: 12px;
  text-align: center;
  text-shadow: 1px 1px 1px #8c8c8c;
}

h1 {
  letter-spacing:5px;
  color: #f9c11a;
  font-size: 4rem;
  letter-spacing: 13px;
  margin: 12px;
  text-align: center;
  font-family:georgia, serif;
  text-shadow: 3px 2px 3px  #9f9f2d;
}
  

textarea {
  margin-left: 25%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;  
  padding: 12px 8px;
  border: 1px dashed #9f9f2d;
}
  
.c {
  width: 18vw;
  height: 2vw;
  border: none;
  border-bottom: 1px solid #8c8c8c;
  padding: 2px 1px;
  margin: 0.5rem;
  margin-top: 2rem;
  margin-left: 2vw;
}

.c:focus {background-color: #e6e6e6;}

input[type="submit"] {
  height: 2rem;
  width: 13vw;
  padding:0.2rem;
  color: #f9c11a;
  font-family: arial sans-serif;
  font-style: italic;
  font-size: 1.5vw;
  letter-spacing: 3px;
  border: none;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 2px 0.5px 2px 2px #9f9f2d;
  margin:1.5rem 35% 1rem 35%;
 
}

input[type="radio"] 
{margin-bottom: 1.2rem;}

.d{
  font-family: Arial, sans-serif;
  margin-right:0.5rem;
  margin-left: 1.25rem;
  padding:0.5rem;
  box-sizing:border-box;
}

.e {
  width: 48%;
  margin: 5vw auto;
  outline:3px outset #f9c11a;
  border: 1px solid #f9c11a;
  box-sizing:content-box;		
  box-shadow: 4px 2px 8px 3px #e6e6e6; 
} 

.f {
  margin:4%;
  position:relative;
  border:0.1px solid #f9c11a;
  border-radius:12px;
  box-sizing:content-box;
}
  
.g {
  width: 22vw;
  border: 1px solid #9f9f2d;
  border-radius: 18px;
  padding: 0.7rem;
  margin: 0.8rem;
  margin-bottom: 1.7rem;
  box-sizing:border-box;
}  

.i { 
  font-family:'Dancing Script', cursive;
  font-size:4rem;
  letter-spacing:10px;
  text-align:center; 
  margin-top:6.5%;
}

 
.j { 
  border:2px dotted #9f9f2d; 
  border-top-left-radius:20px; 
  border-top-right-radius:20px; 
  width:43%; 
  margin:2% auto;
}

div.k {
  border:1px dotted black;
  display:flex;
  flex-wrap:wrap;
  padding:0.5vw 2.5vw 0vw;
  float:left;
  width:28%;
  height:auto;
  margin:2vw 8vw 0vw; 
}

 .price {
  font-family: Garamond, serif;
  font-size:1.2rem;
  color:#9f9f2d;
  letter-spacing: 5px;
  font-weight:bold;
}

.description {
  line-height:1.5;
  font-family: 'Trebuchet Ms', sans-serif;
  padding:0.2vw 0.2vw 0vw;
  text-overflow:ellipsis;
  border-left:7px solid #9f9f2d;
  border-top:1px solid #9f9f2d;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
}

.specialeffect {
  line-height:1.5;
  font-size:0.rem;
  font-family: 'Trebuchet Ms', sans-serif;
  padding:0.2vw 0.2vw 0vw;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  border-left:7px solid #9f9f2d;
  

.description:hover {
  visibility:visible;
}

.css {
  
  background-image: url('spritesheet.png');
  
  background-repeat: no-repeat;
  
  display: block;

}



.css-Englishmuffins-frontend {
  
  width: 389px;
  
  height: 173px;
  
  background-position: -1px -1px;

}



.css-bagels-frontend {
  
  width: 403px;
  
  height: 141px;
  
  background-position: -392px -1px;

}



.css-brioche-frontend {
  
  width: 388px;
 
  height: 161px;
  
  background-position: -392px -144px;

}



.css-matzoh-frontend {
  
  width: 390px;
  
  height: 134px;
  
  background-position: -1px -307px;

}



.css-multigrain-frontend {
  
  width: 403px;
  
  height: 198px;
  
  background-position: -393px -307px;

}



.css-naan-frontend {
  
  width: 400px;
  
  height: 147px;
  
  background-position: -1px -507px;

}



.css-obinon-frontend {
  
  width: 399px;
  
  height: 337px;
  
  background-position: -403px -507px;

}



.css-plutobakery {
  
  width: 800px;
  
  height: 533px;
  
  background-position: -804px -1px;

}



.css-rye-frontend {
  
  width: 400px;
  
  height: 126px;
  
  background-position: -804px -536px;

}



.css-vanocka-frontend {
  
  width: 400px;
  
  height: 88px;
  
  background-position: -1206px -536px;

}



.css-zopf-frontend {
  
  width: 403px;
  
  height: 125px;
  
  background-position: -1206px -626px;

}


.ex{background-color:#FFE4B5;}


<div class="sprite sprite-brioche-frontend"> </div>
